@@ -1,3 +1,15 @@
resources/[qb]/[crime]/[robberies]/qb-houserobbery/
cache
logo.png
polyzone_created_zones.txt
server.cfg
server.cfg.bkp
.gitignore

resources/\[qb\]/\[crime\]/\[robberies\]/qb-houserobbery/
.replxx_history

resources\[smartphone]
resources/\[smartphone\]/qs-smartphone/battery.json
resources/\[smartphone\]/qs-smartphone/battery.json
resources/\[cfx-default\]/\[system\]/baseevents
system\]/baseevents/vehiclechecker.lua